div#content {
  left:208px;
}


iframe#results {
  margin-top:12px;
}


h2 {
  margin:42px 0 8px 0 !important;
}
h2:first-child {
  margin-top:0 !important;
}


h2,
h3 {
  position:relative;
}
h2 span,
h3 span {
  position:absolute;
  display:block;
  right:0;
  top:-3px;
}


h3 {
  margin:22px 0 10px 0 !important;
}
h3:first-child {
  margin:0 0 10px 0 !important;
}


h4 {
  margin-bottom:4px;
}


div.digests-container {
  position:relative;
  width:100%;
}

ul.digests {
  width:40%;
  left:0;

  padding:0;
  margin:16px 10px 12px 10px;
  list-style-type:none;
}
ul.digests-right {
  position:absolute;
  left:50%;
  top:-16px;
}

ul.digests li {
  height:32px;
  font-size:16px;
  font-weight:bold;
  margin-bottom:6px;
}
ul.digests li span {
  margin:0 10px 0 0 !important;
  cursor:pointer;
}
ul.digests li span span {
  margin:0 !important;
}
ul.digests li a.title {
  position:absolute;
  margin-top:4px;
}

ul.digests li a.action {
  float:right;
  margin:4px 0 0 10px;
  color:#666;
  font-weight:normal;
  font-style:italic;
}
ul.digests li a.action:hover {
  color:#000;
}


table#contributors textarea {
  font-size:14px;
  padding:4px;
}


table {
  display:inline;
  margin-right:40px;
}
table td.label {
  vertical-align:top;
  padding-top:5px;
  width:130px;
}
table td.value {
  width:194px;
}





div#management-container {
  position:relative;
}

table#info,
table#contributors {
  width:50%;
}
table#contributors {
  position:absolute;
  right:0;
  top:0;
}





table.stats thead tr td {
  color:#666;
  font-size:14px;
  font-style:italic;
}


table.stats td.label {
  width:160px;
  padding-right:10px;
}
table.stats td.labelRight {
  padding-left:140px;
}


table.stats td.valueLeft {
  width:88px;
  padding-right:9px;
}
table.stats td.valueRight {
  width:88px;
}

table.stats td.modLabel {
  width:249px;
}
table.stats td.modValue {
  width:100px;
}


table#stats-developer,
table#stats-bugfixers,
table#stats-buzz-person {
  margin-left:92px;
}





textarea#synopsis {
  width:98.5%;
  height:150px
}





div.section {
  position:relative;
  margin-bottom:20px;
}
div.section input[type="button"] {
  width:28px;
}

div.section span.section-counter {
  cursor:pointer;
}
div.section span.section-counter:hover {
  color:#fff;
  background-color:#464D7A;
}

div.section div.save-introduction,
div.section div.delete-introduction {
  position:absolute;
  width:22px;
  height:22px;
  
  left:0;
  top:62px;

  padding:9px;
  margin:0;

  background:url("../../img/bgd.png") repeat transparent;
  cursor:pointer;
  
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
div.section div.save-introduction:hover,
div.section div.delete-introduction:hover {
  background-color:#464D7A;
}

div.section div.delete-introduction {
  top:112px;
}

div.section div.save-introduction div,
div.section div.delete-introduction div {
  width:22px;
  height:22px;
  background:url("../../img/sprite.png") no-repeat transparent;
  background-position:-0 -0;
}
div.section div.save-introduction:hover div {
  background-position:-0 -22px;
}

div.section div.delete-introduction div {
  background-position:-44px -0;
}
div.section div.delete-introduction:hover div {
  background-position:-44px -22px;
}


div.section span {
  background:url("../../img/bgd.png") repeat scroll 0 0 transparent;
  position:absolute;
  left:0;
  font-size:26px;
  font-weight:bold;
  margin-right:10px;
  padding:5px 0;
  text-align:center;
  width:40px;

  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}

div.section input.unselected {
  opacity:0.3;
}

div.section textarea {
  position:relative;
  left:5%;
  display:block;
  width:93.5%;
}

div.section div.section-container {
  width:958px;
}

div.section textarea.intro-message,
div.section textarea.intro-comment {
  width:818px;
  margin-bottom:4px;
}
div.section textarea.intro-message {
  height:42px;
}
div.section textarea.intro-comment {
  height:88px;
}










div.commit {
  position:relative;
  margin-bottom:32px;
  width:960px;
}

div.commit div.intro {
  width:546px;
  margin-bottom:9px;
}

div.commit div.selectors {
  position:absolute;
  top:-3px;
  right:0;
}
div.commit div.selectors select {
  display:inline;
  width:auto;
  border-width:1px !important;
  margin-right:6px;
}
div.commit div.selectors select:last-child {
  margin-right:0;
}


div.commit div.selectors input[type="checkbox"] {
  float:left;
  margin:8px 10px 0 0;
}

div#floating-status div.remove,
div.commit div.selectors div.remove,
div.commit div.selectors div.reviewer,
div.commit div.selectors div.classifier {
  float:left;
  width:26px;
  height:26px;
  padding:2px;
  margin:0 4px 0 0;

  cursor:help;
}
div.commit div.selectors div.remove {
  cursor:pointer;
}

div#floating-status div.remove i,
div.commit div.selectors div.remove i,
div.commit div.selectors div.reviewer i,
div.commit div.selectors div.classifier i {
  display:block;
  width:22px;
  height:22px;
  margin:2px;

  background-color:#666;
  background:url('../../img/sprite.png') no-repeat;
}


div#floating-status div.remove {
  float:left;
  width:22px;
  height:22px;
  padding:0;
  margin:1px 8px 0 -2px;

  background-color:#666;
  background:url('../../img/sprite.png') no-repeat;
  background-position:-44px -0px;
  cursor:pointer;
}
div#floating-status div.remove:hover {
  background-position:-44px -44px;
}


div.commit div.selectors div.remove i {
  background-position:-44px -66px;
}
div.commit div.selectors div.remove:hover i {
  background-position:-44px -44px;
}

div.commit div.selectors div.classifier {
  margin-right:20px;
}
div.commit div.selectors div.classifier i {
  background-position:-132px -22px;
}
div.commit div.selectors div.classifier:hover i {
  background-position:-132px -0;
}

div.commit div.selectors div.reviewer i {
  background-position:-110px -22px; 
}
div.commit div.selectors div.reviewer:hover i {
  background-position:-110px -0;
}

div.commit div.details {
  border:2px solid #f3f3f3;
}
div.commit div.details textarea.msg {
  width:938px;
  margin:0;
  padding:7px;

  font-style:italic;
  background-color:#f3f3f3;
  border-color:#f3f3f3;
}

div.commit div.details div.info {
  border-top:2px solid #f3f3f3;
  padding:10px;
}

div.commit div.details div.info div.b-p {
  margin-bottom:10px;
}

div.commit div.details div.info div.b div.bug div {
  float:right;
}
div.commit div.details div.info div.b div.bug div div {
  float:left;
  margin:0 6px 0 0;

  width:22px;
  height:22px;
  background:url('../../img/sprite.png') no-repeat;
  background-position:-88px -22px;
}
div.commit div.details div.info div.b div.bug div span {
  float:right;
  font-style:italic;
  color:#666;
}

div.commit div.details div.info a.r {
  float:right;
}




div#num-commits {
  margin:64px 0 0 0;

  color:#ccc;
  font-style:italic;
  font-size:22px;
  text-align:center;
}










table#people {
  border-collapse:collapse;
  margin-bottom:22px;
  top:20px;
}

table#people tbody tr:nth-child(even) {
  background:#E1EAF3;
}
table#people tbody tr:nth-child(odd) {
  background:#fff;
}

table#people thead tr th {
  width:120px;
  height:22px;
  padding:0 8px;
  
  text-align:left;
  font-weight:normal;
  font-style:italic;
  font-size:14px;
  color:#666;
}
table#people thead tr th:first-child {
  width:auto;
}
table#people thead tr th.permission {
  width:16px;
  text-align:center;
}

table#people tbody tr td {
  padding:4px;
}
table#people tbody tr td:last-child {
  width:200px;
}

table#people td.padding {
  padding-right:18px;
}




/* dot blurb lightbox */
div#dot-blurb {
  margin-top:22px;
}
div#dot-blurb input {
  display:block;
}
div#dot-blurb textarea {
  margin-top:10px;
  width:484px;
  height:410px;
}




/* feature articles lightbox */
div.contents h3 {
  margin:40px 0 10px !important;
}


div#features div.feature {
  position:relative;
  padding:10px;
  border-bottom:2px dotted #ccc;
}

div#features div.feature div.feature-expand,
div#features div.featureExpand div.feature-expand {
  float:left;
  width:22px;
  height:22px;

  background:url('../../img/sprite.png') no-repeat;
  background-position:-220px -22px;
  cursor:pointer;
}
div#features div.feature div.feature-expand:hover {
  background-position:-220px -0;
}

div#features div.featureExpand div.feature-expand {
  background-position:-198px -22px;
}
div#features div.featureExpand div.feature-expand:hover {
  background-position:-198px -0;
}

div#features div.feature div.feature-intro,
div#features div.feature div.feature-body {
  margin-left:32px;
  width:360px;
  height:20px;
  overflow:hidden;
}

div#features div.feature div.feature-body {
  font-style:italic;
  color:#666;
}


div#features div.featureExpand div.feature-intro,
div#features div.featureExpand div.feature-body {
  height:auto;
  overflow:visible;
}


div#features div.feature input.feature-insert {
  position:absolute;
  top:10px;
  right:10px;
}






div#floating-status {
  position:fixed;
  bottom:14px;
  right:14px;

  z-index:1001;
  padding:6px 10px;
  font-size:18px;

  color:#fff;
  text-shadow:#000 2px 2px 2px;
  background:url(../../img/bgd.png) repeat scroll 0 0 transparent;
  
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}
div#floating-status span#floating-status-selected {
  padding-right:10px;
  font-weight:bold;
  color:#000;
  text-shadow:#e6e6e6 2px 2px 2px;
}

div#floating-status-remove {
  float:left;
}
div#floating-status-remove div.remove:hover + span#floating-status-selected {
  color:red;
}