body#body-iframe {
  padding:0;
}



body#body-iframe div#content {
  left:0;
}
div#content {
  left:208px;
}


h3 {
  position:relative;
}
h3 span {
  position:absolute;
  right:0;
  top:-3px;
}


div#setup-column {
  width:600px;
  margin:0 auto;
}


body#body-iframe table {
  margin:0 auto;
}

table tr td.label {
  padding-right:12px;
  text-align:right;
}
table tr td.value {
  width:300px;
}


table.settings tr td.label {
  min-width:200px;
  vertical-align:top;
  padding-top:4px;
}


table tr td.value > div {
  position:relative;
}

table tr td.value div.comment {
  position:absolute;
  top:0;
  width:280px;
  right:-300px;
  
  font-size:14px;
  border:1px solid #999;
  padding:3px 5px;
  color:#666;
  font-style:italic;
}

table tr td.value input {
  width:350px;
}
table tr td.value select {
  width:360px;
}
table tr td.value input.prompt { 
  color:#999;
  font-style:italic;
}

input#setup-save {
  margin:16px 0 20px 0;
}







div#setup-database span {
  display:block;
  margin-bottom:22px;
}

table.setup-details {
  margin:22px 0 !important;
}

table.setup-details tr.padding td {
  padding-top:22px;
}

table.setup-details td.label {
  text-align:right;
  font-weight:bold;
}
table.setup-details td.value input {
  width:230px !important;
}


div#setup-database-error {
  padding-right:10px;
  font-style:italic;
  color:red;
}


div#setup-database-output {
  height:136px;
  margin-bottom:26px;
  padding:10px;
  border:2px solid #ccc;
  overflow-y:auto;
}

div#setup-database-output i {
  color:#666;
}
div#setup-database-output b {
}






table#repositories {
  margin:20px auto 16px auto;
  border-collapse:collapse;
}

span#repo-security-msg {
  display:block;
  margin-bottom:60px;
  text-align:center;
  font-style:italic;
  color:#666;
}


table#repositories thead tr th {
  padding:0 8px;
  
  text-align:left;
  font-weight:normal;
  font-style:italic;
  font-size:14px;
  color:#666;
}
table#repositories thead tr th:first-child {
  width:auto;
}


table#repositories tbody tr:nth-child(even) {
  background-color:#E1EAF3;
}
table#repositories tbody tr:nth-child(odd) {
  background-color:#fff;
}


table#repositories tbody tr td {
  padding:4px 2px;
}

table#repositories tbody tr td select {
  padding:2px 2px 2px 0;
}



table#repositories tbody tr td.col-priority,
table#repositories tbody tr td.col-priority input {
  width:54px;
}

table#repositories tbody tr td.col-id,
table#repositories tbody tr td.col-id input {
  width:76px;
}

table#repositories tbody tr td.col-type,
table#repositories tbody tr td.col-type select {
  width:80px;
}

table#repositories tbody tr td.col-hostname,
table#repositories tbody tr td.col-hostname input {
  width:160px;
}

table#repositories tbody tr td.col-port,
table#repositories tbody tr td.col-port input {
  width:40px;
}

table#repositories tbody tr td.col-username,
table#repositories tbody tr td.col-username input {
  width:110px;
}

table#repositories tbody tr td.col-password,
table#repositories tbody tr td.col-password input {
  width:80px;
}

table#repositories tbody tr td.col-accounts-file,
table#repositories tbody tr td.col-accounts-file input {
  width:100px;
}

table#repositories tbody tr td.col-web-viewer,
table#repositories tbody tr td.col-web-viewer input {
  width:100px;
}






div.repository-status {
  position:relative;
  float:left;
  padding:4px;
  margin:0;

  opacity:0.6;
  cursor:pointer;

  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px; 
}
div.repository-status:hover {
  opacity:1;
}
div.repository-status div {
  position:relative;
  top:1px;
  width:22px;
  height:22px;
  background:url("../../img/sprite.png") repeat scroll 0 0 transparent;
}

div.active {
  background-color:green;
}
div.active div {
  background-position:-22px -22px;
}