body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;

  font-family:"Trebuchet MS","Segoe UI","Arial",sans-serif;
  
  color:#111;
  font-size:16px;
}


body#body-iframe {
  width:auto;
  height:auto;
  padding:10px;
}


iframe {
  position:relative;
  width:100%;
  height:490px;

  overflow-y:auto;
  border:2px solid #ccc;
  
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}


.r {
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
.rt {
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
}
.rb {
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  -webkit-border-bottom-left-radius:5px;
  -webkit-border-bottom-right-radius:5px;
}
.rl {
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-bottomleft:5px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-bottom-left-radius:5px;
}
.rr {
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  -moz-border-radius-topright:5px;
  -moz-border-radius-bottomright:5px;
  -webkit-border-top-right-radius:5px;
  -webkit-border-bottom-right-radius:5px;
}


input,
select,
textarea {
  font-family:'Segoe UI','Trebuchet MS','Helvetica',sans-serif;
}

input.failure,
select.failure,
textarea.failure {
  border:2px solid red !important;
}
input.success,
select.success,
textarea.success {
  border:2px solid green !important;
}

textarea {
  border:2px solid #ccc;
  padding:6px;
}
select {
  width:100%;
  font-size:14px;
  border:2px solid #ccc;
  padding:3px 3px 3px 0;
}
input[type="text"],
input[type="password"] {
  width:95%;
  font-size:14px;
  border:2px solid #ccc;
  padding:3px;
}

input[type="button"],
input[type="submit"] {
  background:url("../img/bg.png") repeat scroll 0 0 transparent;
  color:#fff;
  cursor:pointer;
  float:right;
  margin:0 0 0 10px;
  font-size:15px;
  padding:3px 5px 5px;
  border:none;

  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
input[type="button"]:hover,
input[type="button"].selected,
input[type="submit"]:hover,
input[type="submit"].selected {
  background-color:#464D7A;
}

div#content input[type="button"],
div#content input[type="submit"] {
  background:url("../img/bgd.png") repeat scroll 0 0 transparent;
  color:#000;
}
div#content input[type="button"]:hover,
div#content input[type="submit"]:hover {
  color:#fff;
  background-color:#464D7A;
}

input[disabled="disabled"] {
  background-color:#e6e6e6 !important;
  opacity:0.4 !important;
  color:#000 !important;
  cursor:default !important;
}

input.prompt {
  color:#666;
  font-style:italic;
}


a {
  color:#222;
  text-decoration:none;
}
a:hover {
  color:#000;
  margin-bottom:2px;
  border-bottom:2px dotted #000;
}


a.n {
  color:#222;
  text-decoration:none;
  border-bottom:0;
}
a.n:hover {
  color:#000;
  border-bottom:0;
}




/*common*/
div#header {
  position:fixed;
  width:100%;
  height:38px;
  background:url(../img/header-bg.png) repeat scroll 0 0 transparent;
  z-index:1000;
}

div#header a#logo {
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:214px;
  height:38px;
  background:url(../img/logo.png) no-repeat scroll 0 0 transparent;
}

div#header h1#header-title {
  position:relative;
  top:8px;
  width:600px;
  margin:0 auto;
  font-size:18px;

  text-align:center;
  color:#fff;
}

div#header div#header-user {
  position:absolute;
  right:0;
  top:0;
}
div#header div#header-user span {
  position:relative;
  top:7px;
  margin-right:10px;
  color:#fff;
}
div#header div#header-user input {
  margin:4px 4px 0 5px;
}


div#content {
  position:absolute;
  top:38px;
  left:0px;
  right:0;
  bottom:0;
  padding:16px 20px;
}
div#content h3 {
  margin:36px 0 10px 0;
}
div#content h3:first-child {
  margin-top:0;
}


div#sidebar {
  position:fixed;
  top:38px;
  bottom:0;
  width:205px;

  background:url(../img/sidebar-bg.png) repeat scroll 0 0 transparent;
  border-right:3px dotted #333;  
  z-index:1001;
}

div#sidebar ul {
  padding:0;
  margin:14px 16px 12px 16px;
  list-style-type:none;
}
div#sidebar ul li {
  font-size:18px;
  margin-bottom:3px;
}



div#sidebar ul li a {
  display:block;
  padding:4px 0 4px 7px;
  margin-bottom:0;

  color:#222;
  text-decoration:none;
  border-bottom:none;
}
div#sidebar ul li a:hover {
  background:url(../img/bg.png) repeat scroll 0 0 transparent;
  color:#000;

  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}
div#sidebar ul li.selected a {
  background:url(../img/bgd.png) repeat scroll 0 0 transparent;
  color:#fff;
  text-shadow:#000 2px 2px 2px;
  
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}







div#status-area {
  position:fixed;
  height:38px;
  bottom:0;
  left:208px;
  right:0;

  background:url(../img/header-bg.png) repeat scroll 0 0 transparent;
}

div#status-area-text {
  position:absolute;
  top:7px;
  left:10px;

  color:#E6E6E6;
}
div#status-area-text span {
  font-weight:bold;
}

div#status-area-actions {
  position:absolute;
  right:4px;
  top:4px;
}

div#status-area-info {
  float:left;
  position:relative;
  right:4px;
  top:3px;

  color:#fff;
  font-weight:bold;
  font-style:italic;
}

div#status-area-actions div.success {
  color:#3ae13a;
}
div#status-area-actions div.failure {
  color:red;
}






div#console {
  padding-bottom:10px;
  margin-bottom:20px;
  border-bottom:2px dotted #999;
}






p.prompt {
  margin:200px 0;

  color:#ccc;
  font-style:italic;
  font-size:22px;
  text-align:center;
}





span.msg_fetch {
  padding:10px 22px;
  font-style:italic;
  color:#666;
}




div.summary_box {
  margin-top:22px;
  padding-top:22px;
  border-top:2px dotted #ccc;
}