div#content {
  left:208px;
}


h3 {
  position:relative;
}
h3 span {
  position:absolute;
  right:0;
  top:-3px;
}



div#interact-bar {
  display:inline-block;
  margin:20px 0;
}

div#interact-bar i {
  display:inline-block;
  margin:0 10px;
}

div#interact-bar select,
div#interact-bar input {
  width:auto;
}
div#interact-bar select option {
  padding:0 20px 0 0;
}

div#interact-bar input[type="text"] {
  border:2px solid #ccc;
  font-size:14px;
  padding:4px;
}

div#interact-bar #interact-op {
  margin:0 10px;
}



div#developers-container {
  position:relative;
  height:80%;
  width:100%;

  margin:0 auto 26px auto;
  overflow:auto;
  
  border:2px solid #ccc;
  
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}



table .column {
  width:120px;
  
  text-align:left;
  font-size:14px;
}
table .column:first-child {
  width:32px;
}
table .column-gender {
  width:90px;
}
table .column-continent {
  width:110px;
}
table .column-country {
  width:80px;
}
table .column-location {
  width:200px;
}
table .column-employer {
  width:180px;
}
table .column-colour {
  width:100px;
}




table#developers-headers {
  position:absolute;
  top:0;

  width:1500px;
  border-collapse:collapse;
  border-bottom:1px solid #ccc;
  z-index:1;
}

table#developers-headers .column {
  padding:6px 4px;

  font-weight:normal;
  font-style:italic;
  color:#666;
  background-color:#fff;
}




table#developers {
  width:1500px;
  border-collapse:collapse;
  margin-top:32px;
}

table#developers tbody tr:nth-child(even) {
  background-color:#E1EAF3;
}
table#developers tbody tr:nth-child(odd) {
  background-color:#fff;
}

table#developers tbody tr td {
  padding:4px;
  font-size:14px;
}