div#content {
  left:208px;
}


h3 {
  position:relative;
}


h3 span {
  display:block;
  float:right;

  font-size:16px;
  font-weight:normal;
  font-style:italic;
  color:#999;
}
h3 span a {
  color:#999;
}




div#features {
  margin-top:22px;
}

div.feature {
  position:relative;
  padding:10px 10px 32px 10px;
  border-bottom:2px dotted #ccc;
}
div.feature:nth-child(odd) {
  background-color:#E1EAF3;
}

div.feature input,
div.feature select {
  width:auto;
}


div.feature div.feature-extra {
  position:absolute;
  top:10px;
  right:10px;  
}

div.feature span.feature-target {
  margin-left:10px;
}


div.feature-body textarea {
  display:block;
  width:98%;
  margin-top:6px;
}


div.feature-media {
  display:inline-block;
  margin:10px 144px 0 0;
}

div.feature-media div.media-item {
  height:30px;
}

div.feature-media div.media-item span {
  margin:4px 6px 0 0;
}

div.feature-media div.media-item input.tag {
  width:90px;
  margin:0 6px 0 0;
  font-weight:bold;
}

div.feature-media div.media-item span.name {
  margin:0 22px 0 0;
}


div.feature-save {
  float:right;
  height:30px;
  margin:10px 0 0 0;
}









div#ideas div.idea {
  position:relative;
  padding:10px;
  border-bottom:2px dotted #ccc;
}


div#ideas div.idea div.idea-expand,
div#ideas div.ideaExpand div.idea-expand,
div#ideas div.idea div.idea-save {
  float:left;
  width:22px;
  height:22px;

  background:url('../img/sprite.png') no-repeat;
  background-position:-220px -22px;
  cursor:pointer;
}
div#ideas div.idea div.idea-expand:hover {
  background-position:-220px -0;
}

div#ideas div.ideaExpand div.idea-expand {
  background-position:-198px -22px;
}
div#ideas div.ideaExpand div.idea-expand:hover {
  background-position:-198px -0;
}


div#ideas div.idea div.idea-save {
  margin-top:4px;
  background-position:-0 -44px;
}
div#ideas div.idea div.idea-save:hover {
  background-position:-0 -0;
}


div#ideas div.idea div.idea-intro {
  margin:0 120px 0 32px;
  height:44px;
  overflow:hidden;
}
div#ideas div.idea div.idea-intro input[type="text"] {
  width:98%;
}


div#ideas div.ideaExpand div.idea-intro {
  height:auto;
  overflow:visible;
}


div#ideas div.idea input.idea-claim {
  position:absolute;
  top:6px;
  right:10px;
}




span.indicator-success {
  float:right;
  margin-right:4px;
}