div#content {
  left:208px;
}



table thead tr th {
  padding:0 22px 0 0;
  
  text-align:left;
  font-weight:normal;
  font-style:italic;
  font-size:14px;
  color:#666;
}



div#column-left {
  position:absolute;
  width:46%;
  padding-bottom:22px;
}
div#column-right {
  position:absolute;
  width:46%;
  right:20px;
  padding-bottom:22px;
}



div.container {
  border:2px solid #ccc;
  padding:10px;
}



h3 a.button-refresh {
  float:right;
}



table.display {
  width:100%;
}
table.display th {
  vertical-align:bottom;
}
table.display th:first-child {
  width:100px;
}

table.display td.label {
  font-weight:normal;
  font-style:italic;
  font-size:14px;
  color:#666; 
}





div#active-users table thead th.browser {
  width:70px;
  padding-right:0;
}

div#active-users table tbody td span.platform,
div#active-users table tbody td span.browser {
  display:inline-block;
  width:22px;
  height:22px;

  background:url('../img/browsers.png') no-repeat;
  cursor:help;
}

span.platform {
  background-position:-66px -0 !important;
}
span.platform-linux {
  background-position:-0 -0 !important;
}
span.platform-mac {
  background-position:-22px -0 !important;
}
span.platform-windows {
  background-position:-44px -0 !important;
}

span.browser {
  background-position:-66px -22px !important;
}
span.browser-firefox {
  background-position:-0 -22px !important;
}
span.browser-chrome {
  background-position:-22px -22px !important;
}
span.browser-ie {
  background-position:-44px -22px !important;
}