div#content {
  left:208px;
}



table thead tr th {
  padding:0 22px 0 0;
  
  text-align:left;
  font-weight:normal;
  font-style:italic;
  font-size:14px;
  color:#666;
}



div#column-left {
  position:absolute;
  width:46%;
  padding-bottom:22px;
}
div#column-right {
  position:absolute;
  width:46%;
  right:20px;
  padding-bottom:22px;
}



div.container {
  border:2px solid #ccc;
  padding:10px;
}



table.display {
  width:100%;
}
table.display th {
  vertical-align:bottom;
}
table.display th:first-child {
  width:100px;
}

table.display td.label {
  font-weight:normal;
  font-style:italic;
  font-size:14px;
  color:#666; 
}