div#content {
  left:208px;
  bottom:50px;
  top:44px;
  overflow-y:scroll;
}


div.item {
  position:relative;
  padding:10px;
  margin-bottom:20px;
  background-color:#e6e6e6;
  
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
div.item:last-child {
  margin-bottom:0;
}

div.item div.commit-title {
  border-bottom:2px dotted #999;
  margin-bottom:8px;
  padding-bottom:8px;
}
div.item div.commit-title a,
div.item div.commit-title span {
  font-weight:bold;
}

div.item div.commit-title div.date {
  position:absolute;
  right:12px;
  top:8px;

  font-style:italic;
  color:#666;
}



div.item div.commit-title div.buttons {
  position:absolute;
  right:12px;
  top:34px;
}
div.item div.commit-title div.buttons div {
  float:left;
  width:22px;
  height:22px;

  background:url(../img/sprite.png) repeat scroll 0 0 transparent;
  cursor:pointer;
}

div.item div.commit-title div.buttons div.yes {
  margin-right:6px;
  background-position:-22px -0;
}
div.item div.commit-title div.buttons div.yes:hover {
  background-position:-22px -44px;
}
div.item div.commit-title div.buttons div.no {
  background-position:-44px -0;
}
div.item div.commit-title div.buttons div.no:hover {
  background-position:-44px -44px;
}




div.marked div.yes {
  background-position:-22px -44px !important;
}
div.read div.no {
  background-position:-44px -44px !important;
}


div.item div.commit-msg {
  min-height:40px;
  padding-right:110px;
}
div.keyboard div.commit-msg {
  padding-right:110px !important;
}
div.mouse div.commit-msg {
  padding-right:230px !important;
}

div.item div.commit-msg div.bugs {
  position:absolute;
  bottom:10px;
  right:10px;
}

div.item div.commit-msg div.bugs div {
  float:right;
  width:22px;
  height:22px;

  background:url(../img/sprite.png) no-repeat;
  background-position:-66px -22px;
  margin-left:6px;
  cursor:pointer;
}
div.item div.commit-msg div.bugs div:hover {
  background-position:-66px -0;
}


div.item div.commit-panel {
  position:absolute;
  right:8px;
  top:8px;
}

div.item div.commit-panel div.commit-blame {
  float:left;
  margin:2px 64px 0 0;
  font-style:italic;
  font-size:16px;
  color:#666;
}

div.item div.commit-panel div.commit-classify {
  float:right;
  background-color:#000;
  padding:6px;
  font-size:13px;
  
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}

div.item div.commit-classify label {
  text-align:right;
  color:#fff;
}
div.item div.commit-classify label:first-child {
  margin-bottom:3px;
}


div.item div.keyboard label {
  display:block;
}
div.item div.mouse {
  text-align:right;
}
div.item div.mouse select {
  width:180px;
  margin-left:6px;
  font-size:13px;
  border:1px solid #fff;
  background-color:#000;
  color:#fff; 
}
div.item div.mouse div:first-child {
  margin-bottom:4px;
}


div.item div.commit-classify input {
  width:32px;
  border:1px solid #fff;
  background-color:#111;
  color:#fff;
  padding:1px 2px;
  margin-left:3px;
}


div.item div.unfilled {
  background-color:#d40000;
}
div.item div.filled {
  background-color:green;
}




div.normal {
  border:2px solid #e6e6e6;
}
div.selected {
  border:2px solid red;
}
div.marked {
  border:2px solid green;
}



div#classify-key {
  position:fixed;
  bottom:0;
  left:0;  
  width:205px;

  z-index:1002;
  border-right:3px solid #999;
  background:url(../img/bg.png) repeat scroll 0 0 transparent;

  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}
div#classify-key ol {
  margin:10px 0 14px 4px;
}

div#classify-key-selector {
  bottom:0;
  height:38px;
  background-color:#ccc;
}
div#classify-key-selector input[type="button"] {
  float:left;
  height:38px;
  width:50%;

  margin:0;
  padding:1px 0 5px 0;
  text-align:center;
  background-color:#333;
  color:#fff;
  opacity:0.3;
  
  border-radius:0;
  -moz-border-radius:0;
  -webkit-border-radius:0;
}
div#classify-key-selector input[type="button"]:hover {
  color:#000;
  opacity:0.6;
}
div#classify-key-selector input[type="button"].selected {
  font-weight:bold;
  opacity:1;
  cursor:default;
}


div#interface-selector {
  position:relative;
  margin:8px auto 0 auto;
  width:250px;

  text-align:center;
  color:#fff;
}