body#body-iframe {
  padding:0;
}



body#body-iframe div#content {
  left:0;
}
div#content {
  left:208px;
}



div#setup-column {
  width:600px;
  margin:0 auto;
}


body#body-iframe table {
  margin:0 auto;
}

table tr td.label {
  padding-right:12px;
  text-align:right;
}
table tr td.value {
  width:300px;
}


table.settings tr td.label {
  min-width:200px;
  vertical-align:top;
  padding-top:4px;
}


table tr td.value > div {
  position:relative;
}

table tr td.value div.comment {
  position:absolute;
  top:0;
  width:280px;
  right:-300px;
  
  font-size:14px;
  border:1px solid #999;
  padding:3px 5px;
  color:#666;
  font-style:italic;
}

table tr td.value input {
  width:350px;
}
table tr td.value select {
  width:360px;
}
table tr td.value input.prompt { 
  color:#999;
  font-style:italic;
}

input#setup-save {
  margin:16px 0 20px 0;
}







div#setup-database span {
  display:block;
  margin-bottom:22px;
}

table.setup-details {
  margin:22px 0 !important;
}

table.setup-details tr.padding td {
  padding-top:22px;
}

table.setup-details td.label {
  text-align:right;
  font-weight:bold;
}
table.setup-details td.value input {
  width:230px !important;
}


div#setup-database-error {
  padding-right:10px;
  font-style:italic;
  color:red;
}


div#setup-database-output {
  height:136px;
  margin-bottom:26px;
  padding:10px;
  border:2px solid #ccc;
  overflow-y:auto;
}

div#setup-database-output i {
  color:#666;
}
div#setup-database-output b {
}