div#content {
  left:208px;
}


h3 {
  position:relative;
}
h3 span {
  position:absolute;
  right:0;
  top:-3px;
}


table#users {
  margin:40px auto 22px auto;
  border-collapse:collapse;
}

table#users tbody tr:nth-child(even) {
  background-color:#E1EAF3;
}
table#users tbody tr:nth-child(odd) {
  background-color:#fff;
}

table#users thead tr th {
  width:120px;
  padding:0 8px;
  
  text-align:left;
  font-weight:normal;
  font-style:italic;
  font-size:14px;
  color:#666;
}
table#users thead tr th:first-child {
  width:auto;
}
table#users thead tr th.permission {
  width:16px;
  text-align:center;
}

table#users tbody tr td {
  padding:4px;
}
table#users tbody tr td:last-child {
  width:200px;
}

table#users td.padding {
  padding-right:18px;
}



div#available-jobs {
  margin-bottom:22px;
}

div#available-jobs label {
  display:block;
  padding:4px;
  margin-bottom:6px;
  cursor:pointer;
}
div#available-jobs input {
  margin-right:10px;
}
div#available-jobs span {
  display:block;
  font-style:italic;
  color:#999;
  margin-left:26px;
}



div#applications {
  margin:0 28px 0 28px;
  font-size:14px;
}

div.application {
  position:relative;
  margin-bottom:22px;
}

div.application table {
  width:100%;
  padding:10px;
}
div.application div.reply {
  position:absolute;
  top:10px;
  right:10px;
}

div.application table:nth-child(odd) {
  background:#E1EAF3;
}
div.application table:nth-child(even) {
  background:#fff;
}

div.application table td.label {
  padding:6px 12px 0 0;

  vertical-align:top;
  text-align:right;
  font-style:italic;
  color:#666;
}

div.application table td.value input[type="text"] {
  width:280px;
}

div.application table td.value label {
  margin-left:32px;
}
div.application table td.value label:first-child {
  margin-left:0;
}

div.application table tr.jobs td.value,
div.application table tr.message td.value {
  padding-top:6px;
}

div.application table tr.jobs td.label {
  padding-top:24px;
}
div.application table tr.jobs td.value {
  padding-top:22px;
}

div.application table tr.message td.value {
  font-style:italic;
}