div#content {
  left:208px;
}


h3 {
  position:relative;
}
h3 span.status {
  display:block;
  float:left;
  margin:3px 6px 0 0;

  font-size:16px;
  font-weight:normal;
  font-style:italic;
  color:#999;
}
h3 div {
  position:absolute;
  right:0;
  top:-3px;
}


table#users {
  margin:40px auto 0 auto;
  border-collapse:collapse;
  margin-bottom:22px;
}

table#users tbody tr:nth-child(even) {
  background:#E1EAF3;
}
table#users tbody tr:nth-child(odd) {
  background:#fff;
}

table#users thead tr th {
  width:120px;
  padding:0 8px;
  
  text-align:left;
  font-weight:normal;
  font-style:italic;
  font-size:14px;
  color:#666;
}
table#users thead tr th:first-child {
  width:auto;
}
table#users thead tr th.permission {
  width:16px;
  text-align:center;
}

table#users tbody tr td {
  padding:4px;
}
table#users tbody tr td:last-child {
  width:200px;
}

table#users td.padding {
  padding-right:18px;
}



div.account-status {
  position:relative;
  float:left;
  padding:4px;
  margin:0;

  opacity:0.6;
  cursor:pointer;

  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px; 
}
div.account-status:hover {
  opacity:1;
}
div.account-status div {
  position:relative;
  top:1px;
  width:22px;
  height:22px;
  background:url("../img/sprite.png") repeat scroll 0 0 transparent;
}

div.active {
  background-color:green;
}
div.active div {
  background-position:-22px -22px;
}

div.inactive {
  background-color:red;
}
div.inactive div {
  background-position:-44px -22px;
}



div#applications {
  margin:0 28px 0 28px;
  font-size:14px;
}

div.application {
  position:relative;
  margin-bottom:22px;
}

div.application table {
  width:100%;
  padding:10px;
}
div.application div.reply {
  position:absolute;
  top:10px;
  right:10px;
}

div.application table:nth-child(odd) {
  background:#E1EAF3;
}
div.application table:nth-child(even) {
  background:#fff;
}

div.application table td.label {
  padding:6px 12px 0 0;

  vertical-align:top;
  text-align:right;
  font-style:italic;
  color:#666;
}

div.application table td.value input[type="text"] {
  width:280px;
}

div.application table td.value label {
  margin-left:32px;
}
div.application table td.value label:first-child {
  margin-left:0;
}

div.application table tr.jobs td.value,
div.application table tr.message td.value {
  padding-top:6px;
}

div.application table tr.jobs td.label {
  padding-top:24px;
}
div.application table tr.jobs td.value {
  padding-top:22px;
}

div.application table tr.message td.value {
  font-style:italic;
}