ErrorDocument 404 /404.php

RewriteEngine on

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^digests/(.*)/ /index.php?page=digests&digest=$1 [QSA,L]
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^tools/(.*)/ /index.php?page=tools&tool=$1 [QSA,L]
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^reset/(.*)/ /index.php?page=reset&code=$1 [QSA,L]

RewriteCond %{REQUEST_URI} insert/ [OR]
RewriteCond %{REQUEST_URI} review/ [OR]
RewriteCond %{REQUEST_URI} classify/ [OR]
RewriteCond %{REQUEST_URI} features/ [OR]
RewriteCond %{REQUEST_URI} digests/ [OR]
RewriteCond %{REQUEST_URI} tools/ [OR]
RewriteCond %{REQUEST_URI} users/ [OR]
RewriteCond %{REQUEST_URI} settings/ [OR]
RewriteCond %{REQUEST_URI} setup/ [OR]
RewriteCond %{REQUEST_URI} help/ [OR]
RewriteCond %{REQUEST_URI} reset/
RewriteRule (.*)/ /index.php?page=$1 [QSA,L]